[submodule "index"]
	path = index
	url = https://github.com/peitaosu/Index_Down.git
[submodule "map"]
	path = map
	url = https://github.com/peitaosu/Block_Update.git
[submodule "Reg_Hive"]
	path = Reg_Hive
	url = https://github.com/peitaosu/Reg_Hive.git
