[submodule "index"]
	path = index
	url = https://github.com/peitaosu/Index_Down.git
[submodule "map"]
	path = map
	url = https://github.com/peitaosu/Block_Update.git
[submodule "Reg_Hive"]
	path = reg
	url = https://github.com/peitaosu/Reg_Hive.git
[submodule "devirtual"]
	path = devirtual
	url = https://github.com/peitaosu/Devirtual.git
